<p>crear-jugador works!</p>
<form [formGroup]="jugadorForm" (ngSubmit)="crear()">

  <mat-form-field >
    <input validar matInput placeholder="10101010"  formControlName="documento" maxlength="20" class="form-control">
  </mat-form-field>
  <br>
  
  <mat-form-field >
    <input validar matInput placeholder="Juanito"  formControlName="nombre" maxlength="20" class="form-control">
  </mat-form-field>
  <br>

  <mat-form-field >
    <input validar matInput placeholder="Perez"  formControlName="apellido" maxlength="20" class="form-control">
  </mat-form-field>
  <br>

  <mat-form-field >
    <input validar matInput type="date" formControlName="fechaNacimiento" maxlength="20" class="form-control">
  </mat-form-field>
  <br>

  <mat-form-field >
    <input validar matInput type="text" placeholder="50.7"  formControlName="peso" maxlength="20" class="form-control">
  </mat-form-field>
  <br>

  <mat-form-field >
    <input validar matInput type="text" placeholder="1.87"  formControlName="altura" maxlength="20" class="form-control" >
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Posiciones</mat-label>
    <mat-select [(ngModel)]="seleccionadoPosicion"
    formControlName="posicion">
      <mat-option *ngFor="let item of listaPosiciones " [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Posiciones</mat-label>
    <mat-select [(ngModel)]="seleccionadoPieHabil"
    formControlName="pieHabil">
      <mat-option *ngFor="let item of listaPieHabil " [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <button mat-raised-button color="primary" type="submit" >
    <mat-icon>done</mat-icon>
    <span>Guardar</span>
  </button>
</form>