<p>crear-jugador works!</p>
<form [formGroup]="jugadorForm" (ngSubmit)="crear()" id="jugadorForm">

  <mat-form-field >
    <input validar matInput type="number" placeholder="Documento"  formControlName="documento" maxlength="20" class="form-control" id="documento">
  </mat-form-field>
  <br>
  
  <mat-form-field >
    <input validar matInput placeholder="Nombre"  formControlName="nombre" maxlength="20" class="form-control" id="nombre">
  </mat-form-field>
  <br>

  <mat-form-field >
    <input validar matInput placeholder="Apellido"  formControlName="apellido" maxlength="20" class="form-control" id="apellido">
  </mat-form-field>
  <br>

  <mat-form-field >
    <input validar matInput type="date" formControlName="fechaNacimiento" maxlength="20" class="form-control" id="fechaNacimiento">
  </mat-form-field>
  <br>

  <mat-form-field >
    <input validar matInput type="number" placeholder="50.7"  formControlName="peso" min="30" max="300" class="form-control" id="peso">
  </mat-form-field>
  <br>

  <mat-form-field >
    <input validar matInput type="number" placeholder="Altura ejem:(1.87)"  formControlName="altura" min="0.5" max="3" class="form-control" id="altura">
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Posiciones</mat-label>
    <mat-select validar [(ngModel)]="seleccionadoPosicion"
    formControlName="posicion" class="form-control" id="posicion">
      <mat-option *ngFor="let item of listaPosiciones " [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Pie habil</mat-label>
    <mat-select validar [(ngModel)]="seleccionadoPieHabil"
    formControlName="pieHabil" class="form-control" id="pieHabil">
      <mat-option *ngFor="let item of listaPieHabil " [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <button mat-raised-button color="primary" type="submit" id="registrarJugador" [disabled]="!jugadorForm.valid">
    <mat-icon>done</mat-icon>
    <span>Guardar</span>
  </button>

  <button mat-raised-button color="warn"  type="button"  routerLink="/home">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>