<p>listar-jugador works!</p>
<div id="elementos">
  <p>
    <select name="miselect" [(ngModel)]="seleccionado" (change)="elegirTipoDeLista($event.target.value)">
    <option [value]="item" *ngFor="let item of listaGeneral">
      {{item}}
    </option>
    </select>
  </p>
</div>
<div *ngIf="mostrarDatosPosicion">
  <div id="elementosPosicion">
    <p>
      <select name="miselect" [(ngModel)]="seleccionadoPosicion" (change)="elegirPosicion($event.target.value)">
      <option [value]="item" *ngFor="let item of listaPosiciones">
        {{item}}
      </option>
      </select>
    </p>
  </div>
</div>
<div *ngIf="mostrarDatosPieHabil">
  <div id="elementosPosicion">
    <p>
      <select name="miselect" [(ngModel)]="seleccionadoPieHabil" (change)="elegirPieHabil($event.target.value)">
      <option [value]="item" *ngFor="let item of listaPieHabil">
        {{item}}
      </option>
      </select>
    </p>
  </div>
</div>
<div id="jugadores">
  <ul class="jugadores">
    <li *ngFor="let item of listaJugadores | async">
      <span>{{item.id}}</span> {{item.nombre}} {{item.apellido}} {{item.altura}} {{item.peso}} {{item.posicion}}
      {{item.fechaNacimiento}}
    </li>
  </ul>
</div>